<div class="container ac-calculator">
    <div class="row ">
        <div class="col-lg-12 ac-calculator-inputs">
            <h3>Trip Cost</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group  ac-calculator-inputs">
                <label for="distance">Distance</label>
                <input type="number" [(ngModel)]="distance" class="form-control" id="distance" placeholder="Distance"
                    required>
            </div>
            <div class="form-group  ac-calculator-inputs">
                <label for="price">Price/L</label>
                <input type="number" [(ngModel)]="price" class="form-control" id="price" placeholder="price" required>
            </div>
            <div class="form-group  ac-calculator-inputs">
                <label for="avgConsumption">Consumption</label>
                <input type="number" [(ngModel)]="avgConsumption" class="form-control" id="avgConsumption"
                    placeholder="Average Consumption" required>
            </div>
            <div class="form-group ac-calculator-result">
                <h4>Result: <span>{{result}}</span></h4>
            </div>
            <div class=" ac-calculator-btn">
                <button class="btn btn-dark" (click)="tripResult()">Calculate</button>
            </div>
        </div>
    </div>
</div>