<div class="container">
    <div class="row">
        <div class="ac-header">
            <ul class="ac-social">
                <li><a href="#"><img src="../../../assets/facebook.png" alt=""></a></li>
                <li><a href="#"><img src="../../../assets/instagram.png" alt=""></a></li>
                <li><a href="#"><img src="../../../assets/youtube.png" alt=""></a></li>
                <li><a href="#"><img src="../../../assets/twitter.png" alt=""></a></li>
            </ul>
        </div>
        <div class="ac-header1">
            <img src="../../../assets/logo.png" alt="" [routerLink]="['/']">
        </div>
        <div class="ac-navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active"   [routerLinkActiveOptions]="{ exact: true }">Fuel log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/costLog']">Costs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/calculator']">Calculator</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>