.#{$prefix} {
    &-header {
        width: 990px;
        background: #b50000;
        padding: 0;
        height: 50px;
        // &-container{
        //     max-width: 990px;
        // }
    }

    &-social {
        display: flex;
        list-style: none;
        margin-right: 5%;
        float: right;
        margin-top: auto;

        li {
            margin-left: 10px;
            margin-top: 10px;
        }
    }

    &-header1 {
        width: 990px;
        background: #191919;
        height: 80px;

        img {
            width: 230px;
            height: 100px;
        }
    }

    &-navbar {
        width: 990px;
        background: #b50000;
    }
}