<div class="container ac-home">
    <div class="row">
        <div *ngIf="loading" class="d-flex justify-content-center ac-home-loader">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="ac-home-cards ac-home-cards-fuelLogCards col-lg-10 col-md-10 col-sm-10">
            <h3>Fuel Logs</h3>
            <div><img src="../../../assets/plusSign.png" alt="" class="ac-home-add" (click)="addFIllUp()"
                    data-toggle="tooltip" data-placement="top" title="Add Fill Up"></div>
            <div class="ac-home-tile" *ngFor="let fuelLog of fuelLogArray  | slice:0:[max]">
                <div class="wrapper">
                    <div class="ac-home-header"><i class='fas fa-gas-pump' style='font-size:35px;color:#383d3b'></i></div>
                    <div class="ac-home-logs">
                        <div>
                            <strong>Odo Counter</strong>
                            {{fuelLog.odoCounter}}
                        </div>
                        <div>
                            <strong>Fuel(l)</strong>
                            {{fuelLog.fuel}}
                        </div>
                        <div>
                            <strong>Total Cost:</strong> {{fuelLog.cost}} &euro;
                        </div>
                    </div>
                    <div class="ac-home-logs">
                        <div>
                            <strong>Price(l)</strong>
                            {{fuelLog.price}} &euro;
                        </div>
                        <div style="font-size: 13px;">
                            <strong>Date</strong>
                            {{fuelLog.date}}
                        </div>
                        <div>
                            <strong>l/100km</strong>
                            {{fuelLog.avgConsumption}}
                        </div>
                    </div>
                    <div class="ac-home-footer">
                        <a class="ac-home-footer-btn-primary" (click)="addFIllUp(fuelLog)">Edit</a>
                        <a class="ac-home-footer-btn-danger" (click)="openModall(template, fuelLog.$key)">Delete</a>
                    </div>
                </div>
            </div>
            <button *ngIf="showMore" class="ac-home-more btn btn-light" (click)="toggle()">Show more</button>
        </div>
        <div class="ac-home-cards col-lg-10 col-md-10 col-sm-10 ac-home-statistic" *ngIf="!loading">
            <h3>Statistics</h3>
            <div class="ac-home-tile">
                <div class="wrapper">
                    <div class="ac-home-header"><i class="fa fa-bar-chart" style='font-size:35px;color:#383d3b'></i></div>
                    <div class="ac-home-stats">
                        <div>
                            <strong>Average fuel consumption</strong>
                            {{avgConsumption}} l/100 km
                        </div>
                        <div>
                            <strong>Last Fuel Consumption</strong>
                            {{fuelLogArray[0].avgConsumption}} l/100km
                        </div>
                        <div>
                            <strong>Last Fuel Price</strong>
                            {{fuelLogArray[0].price}} &euro;
                        </div>
                        <div>
                            <strong>Last Fill Up</strong>
                            {{lastFillUp}} l
                        </div>
                    </div>
                    <!-- <div class="stats"> -->

                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-body text-center modal-template">
        <div class="modal-header">
            <h5 class="modal-title">Delete Fuel Log</h5>
        </div>
        <p>Are you sure you want to delete fuel log?</p>
        <button type="button" class="btn btn-dark ac-home-modalBtn" (click)="decline()">No</button>
        <button type="button" class="btn btn-primary ac-home-modalBtn" (click)="deleteLog()">Yes</button>
    </div>
</ng-template>