<div class="container ac-cost">
    <div class="row ">
        <div *ngIf="loading" class="d-flex justify-content-center ac-cost-loader">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <button class="btn btn-dark mt-3 ml-5" (click)="tableViewData()" *ngIf="!loading">Change View</button>
        <div *ngIf="tableView" class="mt-3"><img src="../../../assets/plusSign.png" alt="" class="ac-cost-add" (click)="addCostLog()"
            data-toggle="tooltip" data-placement="top" title="Add New Cost"></div>
        <div class="col-lg-5 offset-lg-8 ac-cost-search" *ngIf="!loading">
            <input type="search" placeholder="Search" [(ngModel)]="searchData">
        </div>
        <div class="ac-cost-cards col-lg-5 col-md-4 col-sm-10" *ngIf="!loading && !tableView">
            <h3>Cost Logs</h3>
            <div><img src="../../../assets/plusSign.png" alt="" class="ac-cost-add" (click)="addCostLog()"
                    data-toggle="tooltip" data-placement="top" title="Add New Cost"></div>
            <div class="tile" *ngFor="let costLog of costLogArray  | slice:0:[max] | filter:searchData">
                <div class="wrapper">
                    <div class="header"><i class='fas fa-gas-pump' style='font-size:35px;color:#383d3b'></i></div>
                    <div class="stats">
                        <div>
                            <strong>Odo Counter</strong>
                            {{costLog.odoCounter}}
                        </div>
                        <div>
                            <strong>Title</strong>
                            {{costLog.title}}
                        </div>
                        <div>
                            <strong>Cost:</strong> {{costLog.totalCost}} &euro;
                        </div>
                    </div>
                    <div class="stats">
                        <div>
                            <strong>Note</strong>
                            {{costLog.note}}
                        </div>
                        <div style="font-size: 13px;">
                            <strong>Date</strong>
                            {{costLog.date}}
                        </div>
                    </div>
                    <div class="footer">
                        <a class="Cbtn Cbtn-primary" (click)="addCostLog(costLog)">Edit</a>
                        <a class="Cbtn Cbtn-danger" (click)="openModal(template, costLog.$key)">Delete</a>
                    </div>
                </div>
            </div>
            <button *ngIf="showMore" class="ac-cost-more btn btn-light" (click)="toggle()">Show more</button>
        </div>
        <div class="ac-cost-table col-lg-12 col-md-12 col-sm-10 mt-5">
            <table class="table" *ngIf="tableView">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Odo Counter</th>
                        <th scope="col">Title</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Note</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let costLog of costLogArray | filter:searchData">
                    <tr>
                        <td>{{costLog.odoCounter}} km</td>
                        <td>{{costLog.title}}</td>
                        <td>{{costLog.totalCost}}</td>
                        <td>{{costLog.note}}</td>
                        <td>{{costLog.date}}</td>
                        <td><button class="btn btn-dark" (click)="addCostLog(costLog)">Edit</button>
                            <button class="btn btn-danger mt-1" (click)="openModal(template, costLog.$key)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center modal-template">
        <div class="modal-header">
            <h5 class="modal-title">Delete Cost Log</h5>
        </div>
        <p>Are you sure you want to delete cost log?</p>
        <button type="button" class="btn btn-dark ac-home-modalBtn" (click)="decline()">No</button>
        <button type="button" class="btn btn-primary ac-home-modalBtn" (click)="deleteLog()">Yes</button>
    </div>
</ng-template>