<div class="modal-header">
    <h4 class="modal-title pull-left">{{id ? 'Edit Cost Log' : 'Add Cost Log'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="this.form" ngNativeValidate>
        <input type="hidden" formControlName="$key">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="odoCounter">Odo counter(km)</label>
                <input type="number" formControlName="odoCounter" class="form-control" id="odoCounter" placeholder="Odo counter(km)" >
                <div *ngIf="form.controls['odoCounter'].invalid && (form.controls['odoCounter'].dirty || form.controls['odoCounter'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['odoCounter'].errors.required">
                        Odo Counter is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="fuel">Title</label>
                <input type="text" formControlName="title" class="form-control" id="fuel" placeholder="Title" >
                <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['title'].errors.required">
                        Title is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="totalCost">Cost</label>
                <input type="number" formControlName="totalCost" class="form-control" id="totalCost" placeholder="Cost" >
                <div *ngIf="form.controls['totalCost'].invalid && (form.controls['totalCost'].dirty || form.controls['totalCost'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['totalCost'].errors.required">
                        Cost is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="price">Note</label>
                <input type="textarea" formControlName="note" class="form-control" id="price" placeholder="Note">
            </div>
            <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input type="date" formControlName="date" class="form-control" id="date" placeholder="Date" >
                <div *ngIf="form.controls['date'].invalid && (form.controls['date'].dirty || form.controls['date'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['date'].errors.required">
                        Date is required.
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-dark float-right mb-2" value="Save" (click)="onSubmit()">        
    </form>
</div>