<div class="modal-header">
    <h4 class="modal-title pull-left">{{id ? 'Edit Fuel Log' : 'Add Fuel Log'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="this.form" ngNativeValidate>
        <input type="hidden" formControlName="$key">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="odoCounter">Odo counter(km)</label>
                <input type="number" formControlName="odoCounter" class="form-control" id="odoCounter"
                    placeholder="Odo counter(km)" >
                <div *ngIf="form.controls['odoCounter'].invalid && (form.controls['odoCounter'].dirty || form.controls['odoCounter'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['odoCounter'].errors.required">
                        Odo Counter is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="fuel">Fuel(l)</label>
                <input type="number" formControlName="fuel" class="form-control" id="fuel" placeholder="Fuel(l)"
                    >
                <div *ngIf="form.controls['fuel'].invalid && (form.controls['fuel'].dirty || form.controls['fuel'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['fuel'].errors.required">
                        Fuel(l) is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="totalCost">Total Cost</label>
                <input type="number" formControlName="cost" class="form-control" id="totalCost" placeholder="Total Cost"
                    >
                <div *ngIf="form.controls['cost'].invalid && (form.controls['cost'].dirty || form.controls['cost'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['cost'].errors.required">
                        Total Cost is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="price">Price(l)</label>
                <input type="number" formControlName="price" class="form-control" id="price" placeholder="Price(l)"
                    >
                <div *ngIf="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['price'].errors.required">
                        Price(l) is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input type="date" formControlName="date" class="form-control" id="date" placeholder="Date" >
                <div *ngIf="form.controls['date'].invalid && (form.controls['date'].dirty || form.controls['date'].touched)"
                    class="alert-danger">
                    <div *ngIf="form.controls['date'].errors.required">
                        Date is required.
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-dark float-right mb-2" value="Save"
            (click)="onSubmit()">
    </form>
</div>